@font-face {
  font-family: main-regular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: main-medium;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: main-semibold;
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: main-bold;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: main-medium-italic;
  src: url(../fonts/Poppins/Poppins-MediumItalic.ttf);
}
:root {
  --main-clr: #2657a4;
  --light-clr: #e9eef6;
  --sec-clr: #51565e;
}

html {
  font-family: sans-serif;
}

body,
html {
  overflow: hidden !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
}

a,
li,
ul,
button,
input {
  all: unset;
}

a,
button,
nav li,
.burger,
.close,
.social img,
.features figure,
.pricing .card,
.toggle {
  cursor: pointer;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  color: #060e1a;
}

h1 {
  font: 62px main-bold, sans serif;
}

h2 {
  font-size: 30px;
  font-family: main-semibold, sans serif;
  margin-bottom: 3rem;
}

h3 {
  font-size: 25px;
  font-family: main-medium, sans serif;
  margin-bottom: 2rem;
}

h4 {
  font-size: 22px;
  font-family: main-medium, sans serif;
  color: var(--sec-clr);
}

h5 {
  font-size: 16px;
  font-family: main-regular, sans serif;
}

p {
  font-size: 18px;
  font-family: main-regular, sans serif;
  color: var(--sec-clr);
  line-height: 1.6;
}

span {
  color: var(--main-clr);
}

button,
.btn {
  background-color: var(--main-clr);
  padding: 15px 30px;
  border: 1px solid var(--main-clr);
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-family: main-medium, sans-serif;
  white-space: nowrap;
}
button:hover,
.btn:hover {
  background-color: var(--light-clr);
  color: var(--main-clr);
}

.flex {
  display: flex;
}

.hide {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
}

.hero header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  font: 18px main-regular;
  color: var(--sec-clr);
}

.nav-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1.5rem;
  right: 3rem;
  z-index: 3;
}

nav a:not(:last-child) {
  position: relative;
}
nav a:not(:last-child):after {
  transform: scaleX(0);
  transform-origin: left;
  content: "";
  background-image: linear-gradient(to right, var(--main-clr), var(--light-clr));
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}
nav a:not(:last-child):hover::after {
  transform: scaleX(1);
}

@media (width > 1200px) {
  .nav-icon {
    display: none;
  }
}
@media (max-width: 1200px) {
  nav {
    display: none;
    min-height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background-color: rgba(242, 245, 250, 0.8);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    color: #060e1a;
    z-index: 2;
  }
  nav a {
    font: 20px main-semibold;
  }
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 3rem;
  background-color: rgba(242, 245, 250, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 2;
}

@media (max-width: 1200px) {
  .fixed-header {
    padding: 0.5rem;
  }
}
header {
  padding: 1rem;
}

.hero {
  margin-bottom: 7rem;
  background-image: linear-gradient(to bottom right, #d8eff2, #d3d0e1);
  padding-bottom: 7rem;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 5rem;
}
.hero header,
.hero .hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.hero .text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
}

@media (max-width: 1200px) {
  .hero .hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-direction: column-reverse;
  }
  .hero .hero-wrapper .text {
    align-items: center;
    text-align: center;
    padding-bottom: 5rem;
  }
}
.preview {
  margin-bottom: 7rem;
  position: relative;
}
.preview .container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 2rem;
}
.preview img:nth-child(1) {
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
}
.preview .text {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 3rem;
}
.preview .text div:nth-child(2) h3:before {
  content: url("../svgs/pre-1.png");
  margin-right: 1rem;
}
.preview .text div:nth-child(3) h3:before {
  content: url("../svgs/pre-2.png");
  margin-right: 1rem;
}
.preview .text div:nth-child(4) h3:before {
  content: url("../svgs/pre-3.png");
  margin-right: 1rem;
}

@media (max-width: 1200px) {
  .preview .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
.features {
  margin-bottom: 7rem;
  text-align: center;
}
.features .features-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.features figure {
  position: relative;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 5px rgba(0, 0, 0, 0.05);
  flex-basis: 18%;
  min-width: 240px;
}
.features figure:after {
  content: url("../svgs/arrow.png");
  display: block;
  margin-top: 1rem;
}
.features figure img {
  margin-bottom: 3rem;
}
.features figure:before {
  transform: scaleY(0);
  transform-origin: bottom;
  content: "";
  background-image: linear-gradient(to bottom, #fff, var(--main-clr));
  position: absolute;
  width: 102%;
  height: 100%;
  top: 3px;
  left: -1%;
  border-radius: 5px;
  z-index: -1;
}
.features figure:hover::before {
  transform: scaleY(1);
}

@media (max-width: 768px) {
  .features figure {
    min-width: 180px;
    padding: 1rem;
  }
}
.pricing {
  margin-bottom: 7rem;
}
.pricing .pricing-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.pricing .flex {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.pricing .selected {
  font: 20px main-semibold;
  color: var(--main-clr);
}
.pricing .right {
  margin-left: auto;
}
.pricing .toggle {
  background-color: var(--light-clr);
  width: 80px;
  height: 30px;
  border-radius: 20px;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.pricing .toggle span {
  display: block;
  background-color: var(--main-clr);
  width: 30px;
  height: 20px;
  border-radius: 20px;
}
.pricing .cards-wrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
}
.pricing .card {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  box-shadow: 0px 6px 50px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 2rem;
}
.pricing .card header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0;
  text-align: center;
  z-index: 1;
}
.pricing .card span {
  font: 20px main-semibold;
  color: #060e1a;
}
.pricing .card:hover header * {
  color: #fff !important;
}
.pricing .card:hover button {
  background-color: var(--main-clr);
  color: var(--light-clr);
}
.pricing .card p {
  margin-bottom: 1rem;
}
.pricing .card button {
  background-color: var(--light-clr);
  color: var(--main-clr);
}
.pricing .card::before {
  content: "";
  background-image: url("/svgs/wave.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 35%;
  transform: scaleY(0);
  transform-origin: top;
  position: absolute;
  top: 0;
  left: 0;
}
.pricing .card:after {
  transform: scaleY(0);
  transform-origin: top;
  content: "";
  background-image: linear-gradient(to bottom, #fff, var(--main-clr));
  position: absolute;
  border-radius: 10px;
  width: 102%;
  height: 100%;
  top: 5px;
  left: -1%;
  z-index: -2 !important;
}
.pricing .card:hover::before, .pricing .card:hover::after {
  transform: scaleY(1);
}

@media (max-width: 1200px) {
  .pricing .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .pricing .cards-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .pricing .card {
    padding: 1rem;
  }
  .pricing .selected {
    font-size: 12px;
  }
}
.review {
  margin-bottom: 7rem;
}
.review header {
  text-align: center;
  margin: 0 auto 3rem;
}
.review .map {
  position: relative;
  left: 0;
  top: 0;
  background-image: url("../imgs/map.png"), linear-gradient(to right, var(--light-clr), #fff);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
}
.review .map img {
  width: 50px;
  height: 50px;
  position: absolute;
}
.review .map img:nth-child(1) {
  top: 15%;
  left: 10%;
}
.review .map img:nth-child(2) {
  top: 45%;
  left: 45%;
}
.review .map img:nth-child(3) {
  top: 25%;
  left: 75%;
}
.review .map img:nth-child(4) {
  top: 70%;
  left: 15%;
}
.review .map img:nth-child(5) {
  top: 75%;
  left: 80%;
}
.review .map p {
  font: 9px main-medium-italic;
}
.review .map h6 {
  font: 14px main-regular;
}
.review .map span {
  font: 8px main-regular;
}

.news {
  margin-bottom: 7rem;
}
.news h2 {
  text-align: center;
}
.news .wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  flex-wrap: wrap;
}
.news figure {
  flex-basis: 40%;
}
.news span,
.news h5 {
  white-space: nowrap;
}
.news .spans {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.news img {
  width: 100%;
  margin-bottom: 2rem;
}
.news figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  width: 70%;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .news .wrapper {
    gap: 5rem;
  }
  .news figure {
    flex-basis: 100%;
    text-align: center;
  }
  .news figcaption {
    width: 100%;
    align-items: center;
    margin-left: 0;
  }
}
footer {
  background-color: var(--light-clr);
  padding: 5rem 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1.5rem;
  flex-wrap: wrap;
}
footer .col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
footer .col:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  width: 330px;
}
footer .col:nth-child(2) {
  width: 170px;
}
footer .col:nth-child(3) {
  width: 170px;
}
footer .col:nth-child(4) {
  width: 320px;
}
footer h4 {
  color: #060e1a;
  margin-bottom: 1rem;
}
footer .social {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
footer .email {
  border: 1px solid var(--main-clr);
  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 1rem;
  border-radius: 5px;
}
footer input {
  width: 100%;
  padding: 0 1rem;
  font: 18px main-semibold;
}
footer input::-moz-placeholder {
  color: var(--sec-clr);
  font: 16px main-medium;
}
footer input::placeholder {
  color: var(--sec-clr);
  font: 16px main-medium;
}
footer .copy {
  margin-top: 4rem;
  text-align: center;
}

@media (max-width: 768px) {
  footer .email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  footer .email input {
    max-width: 100px;
  }
  .social img {
    width: 20px;
  }
}
@media (max-width: 360px) {
  .logo {
    width: 100px;
  }
  .nav-icon {
    width: 20px;
    height: 20px;
    right: 1.5rem;
  }
  h1 {
    font: 31px main-bold;
  }
  h2 {
    font: 15px main-semibold;
    margin-bottom: 3rem;
  }
  h3 {
    font: 12.5px main-medium;
    margin-bottom: 2rem;
  }
  h4 {
    font: 11px main-medium;
    color: var(--sec-clr);
  }
  h5 {
    font: 8px main-regular;
  }
  p {
    font: 9px main-regular;
    color: var(--sec-clr);
    line-height: 1.6;
  }
  span {
    color: var(--main-clr);
  }
  input::-moz-placeholder {
    font: 10px main-medium !important;
  }
  button,
  input,
  input::placeholder {
    font: 10px main-medium !important;
  }
}/*# sourceMappingURL=style.css.map */